@use '../Public/' as *;
@use '../Layouts/grid.scss' as G;
@use '../Layouts/flex.scss' as F;

@media screen and (min-width: 1366px) and (max-width: 1920px) {
    body {
        @include G.grid-S12();
        height: 100vh;
        font-family: 'Poppins-Bold', sans-serif;

        section {
            @include G.grid-S12();
            grid-area: 1/6/-1/-1;

            header {
                @include F.Flex-d_c();
                grid-area: 1/1/3/-1;
                position: relative;
                right: 15rem;
            }

            form {
                @include G.grid-S12();
                grid-area: 4/2/-2/-2;

                input {
                    font-family: 'Poppins-Bold', sans-serif;
                    font-size: 2rem;
                    border-style: none none solid;
                    outline: none;
                }

                [name="userName"] {
                    grid-area: 1/1/2/9;
                }

                [name="userPass"] {
                    grid-area: 3/1/4/9;
                }

                [name="confirmPass"] {
                    grid-area: 5/1/6/9;
                }

                a,
                a:visited,
                a:hover,
                a:active {
                    grid-area: 7/1/8/-1;
                    color: #DC143C;
                    font-size: 1.7rem;
                    position: relative;
                    top: -1rem;
                }

                [type="submit"] {
                    grid-area: 8/1/9/9;
                    background: linear-gradient(
                        to right,
                        $raspberryDarkBlue,
                        $raspberryLightBlue
                    );
                    color: #FFF;
                    border: none;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }

        aside {
            grid-area: 2/1/-1/6;
            position: relative;
            top: 2rem;
            background: url('../Pictures/signup.jpg') no-repeat;
            background-size: contain;
        }
    }
}