@use '../Public/' as *;
@use '../Layouts/grid.scss' as G;
@use '../Layouts/flex.scss' as F;


@media screen and (min-width: 1366px) and (max-width: 1920px) {
    body {
        @include G.grid-S12();
        height: 100vh;
        font-family: 'Poppins-Bold', sans-serif;

        form {
            @include G.grid-S12();
            grid-area: 2/3/-2/-3;
            border: solid 0.01rem #808080;
            border-radius: 1rem;

            h1 {
                grid-area: 1/1/3/-1;
                align-self: center;
                justify-self: center;
                background: 
                    linear-gradient(
                        to right,
                        #00c6ff,
                        #0072ff
                    );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }

            input {
                font-family: 'Poppins-Bold', sans-serif;
                font-size: 1.3rem;
                text-indent: 1rem;
            }

            [name="productName"] {
                grid-area: 3/2/4/-2;
            }

            [name="changeProductName"] {
                grid-area: 5/2/6/-2;
            }

            [name="productDescription"] {
                grid-area: 7/2/8/-2;
            }

            [name="productPrice"] {
                grid-area: 9/2/10/-2;
            }
            
            [type="submit"] {
                grid-area: 11/2/12/4;
                font-size: 2.5rem;
                border: none;
                border-radius: 1rem;
                background: #0072ff;
                color: #FFF;
                cursor: pointer;
            }
        }
    }
}